<!-- Headder -->
{{> headder}}
<!-- Navbar -->
{{> navbar}}

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">

    <!-- Top container -->
    <div class="container">
        <h1 class="display-4"><b>{{current.temperature}} °C</b></h1>
        <p class="lead">{{location.name}}, {{location.country}}</p>
        <p class="lead">{{current.observation_time}}</p>
        <hr class="my-4">
    </div>


    <!-- Bottom container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-umbrella m-auto text-primary"></i>
                    </div>
                    <h3>{{current.precip}}</h3>
                    <p class="lead mb-0">Precipitation</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-speedometer m-auto text-primary"></i>
                    </div>
                    <h3> {{current.wind_speed}} km/h</h3>
                    <p class="lead mb-0">Wind speed</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-ghost m-auto text-primary"></i>
                    </div>
                    <h3>{{current.feelslike}}</h3>
                    <p class="lead mb-0">Feels like</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-drop m-auto text-primary"></i>
                    </div>
                    <h3>{{current.humidity}}</h3>
                    <p class="lead mb-0">Humidity</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Find out the weather in other cities!</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form action="/weather" method="get">
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="text" id="city" name="city" required  class="form-control form-control-lg" placeholder="Enter another city...">
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">Go!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
{{> footer}}
